.header{
    max-width: 1440px;
    height:100%;
    margin: 0 auto;
    border: 1px solid red;
    padding: 15px 0;

}

.header form {
    width: 50%;
    margin: 0 auto;
}

.header form input[type=text]{
    width: 70%;
    border-radius: 10px;
    height: 30px;
    outline: 0;
    border: 1px solid gray;
    font-size: 16px;
    padding: 5px;
    letter-spacing: 1px;
}

.header form input[type = submit] {
    width: 70px;
    height: 30px;
    border: 1px solid gray;
    color: gray;
    margin-left: 20px;
    border-radius: 10px;
}

